- form_for @user do |f|
  %p= f.error_messages
  %p
    %span= f.label :name
    %span= f.text_field :name
  %p
    %span= f.label :email
    %span= f.text_field :email

  %p
    %span= f.label :password
    %span= f.password_field :password

  %p
    %span= f.label :password_confirmation
    %span= f.password_field :password_confirmation

  %p
    %span= f.submit "Create"

