- form_for(@page) do |f|
  %p
    %span= f.label('name')
    %span= f.text_field('name', :readonly => true, :class => 'readonly field')
  %p
    %span= f.label('title')
    %span= f.text_field('title', :class => 'field')
  = render :partial => 'actions', :locals => {:form => f}
  %p
    = f.text_area('content', :class => 'field')
  = render :partial => 'actions', :locals => {:form => f}

%div.delete
  - unless @page.new_record? || @page.name == 'HomePage'
    %li= button_to 'Delete...', @page, :method => :delete, :confirm => "Delete '#{@page.title}'?"

