- form_for @page, :html => { :multipart => true } do |f|
  %p
    %span= f.label('name')
    %span= f.text_field('name', :readonly => true, :class => 'readonly field')
  %p
    %span= f.label('title')
    %span= f.text_field('title', :class => 'field')
  %p
    = f.text_area('content', :class => 'field')
  %h5 Attachments
  %ul.attachments
    - @page.uploads.each do |upload|
      %li
        = link_to upload.document.original_filename, upload.document.url
        = link_to 'Remove', '#'
  %p
    Add attachment
    %br/
    = render :partial => 'file_actions', :locals => {:form => f}
  %p
    = render :partial => 'actions', :locals => {:form => f}

%div.delete
  - unless @page.new_record? || @page.name == 'HomePage'
    = button_to 'Delete', @page, :method => :delete, :confirm => "Delete '#{@page.title}'?"

