!!!Strict
%html
  %head
    = stylesheet_link_tag 'application', 'form', 'sidebar'
    %title
      buzz:
      = @heading
  %body
    %div#logo
      %strong
        %em buzz_
      %span#caption
        a simple wiki created by phil thompson. copyright &copy;2009

    %ul#menu
      %li= link_to 'home', page_path('home-page')
      - edit_link
      %li
        - login_link
      %li.last= link_to 'index', pages_path
    #page
      %h1
        #heading= @heading
        - last_updated
      - display_flash
      = yield
    #sidebar
      #history
        History
        - history_list

