!!!Strict
%html
  %head
    = stylesheet_link_tag 'application', 'form', 'sidebar'
    %title
      buzz:
      = @heading
  %body
    %ul#menu
      %li#logo
        %strong
          %em buzz

      %li= link_to 'home', page_path('home-page')
      %li
        - edit_link
      %li
        - login_link
      %li= link_to 'search', pages_path
    #page
      %h1
        #heading= @heading
        - last_updated
      - display_flash
      = yield
    #sidebar
      #history
        History
        - history_list

    #footer
      using
      %strong
        %em buzz
      a simple wiki created by phil thompson. copyright &copy;2009
