!!!Strict
%html
  %head
    = stylesheet_link_tag 'application', 'form', 'sidebar'
    %title
      ev tech:
      = @heading
  %body
    #menu
      #logo= link_to 'striving for purity in ruby on rails apps', root_path
      %div
        = link_to image_tag('home.png'), root_path
        home
      - edit_link
      - login_link
      %div
        = link_to image_tag('search.png'), pages_path
        search
    #page
      %h1
        #heading= @heading
        - last_updated
      - display_flash
      = yield
    #sidebar
      #history
        History
        - history_list

    #footer
      created using
      %strong slipi
      a simple wiki by phil thompson copyright &copy;2009
