!!!Strict
%html
  %head
    = stylesheet_link_tag 'application', 'content', 'form', 'sidebar'
    %title
      fountain:
      = @heading
  %body
    %div#header
      %h1
        = link_to 'Fountain', page_path('home-page')
      %h2 Simple Versioned Wiki

      %ul#menu
        %li= link_to 'home', page_path('home-page')
        - edit_link
        %li
          - login_link
        %li= link_to 'index', pages_path
        %li.last
          = link_to 'dashboard', dashboard_path
    #page
      %h1
        #heading= @heading
        = render :partial => 'last_updated' if @page && !@page.updated_at.blank?
      - display_flash
      = yield
    #sidebar
      #history
        %h2 History
        - history_list

